<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jacky's Blog Backend Management</title>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "admin/login" %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>