<title>树妖攻城狮的IT实验室</title>
<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "style" %>
<link href="/favicon.ico" rel="bookmark" type="image/x-icon" />
<link href="/favicon.ico" rel="icon" type="image/x-icon" />
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<%= auto_discovery_link_tag(:rss, "http://www.jacky-wu.com") %>