<div class="row page-content">
	<div class="col-md-12">
		<div class="post-block">
			<div class="substrate widget">
			<h2>关于我 Jacky Wu</h2>
			<article class="aboutme-content">
<p>
My name is Jack Wu. Of course  you can call me Jack or Jacky. I do have a middle name. Kennedy. Is it cool?
</p>
<p>
For now I am working at <a title="Moker" href="http://www.moker.com" target="_blank">Moker</a> which is a wonderful company. We create amazing Children's online book which can play on the PC , Tablet PC and Mobile. I have been seeing a lot of books were made by my colleagues.
</p>
<p>
As my job is in charge of the technical department. Since we are focusing on the Children's market , so we need to working on different platform then spread our products all around the world. Now we have <a title="Bookteller.com.tw" href="http://www.bookteller.com.tw" target="_blank">Bookteller.com.tw</a> for the Taiwan Children and <a title="Bookteller.com" href="http://www.bookteller.com" target="_blank">Bookteller.com</a> for the Kids in USA.
</p>
<p>
Speak of the technology, we focus on Php, Flex, Android. We built a website based on Drupal.  Wonderful CMS system. A little difficult to work at the beginning . But after you really into Drupal. Then you will feel it is amazing , fantastic.
</p>
<p>
Personally, I love Ruby. Beautiful programming language.  And also the Perl. When I'm playing the role of SA(System Administrator). I'd like to use Perl to solve problems.
</p>
<p>
And I would be very happy to make friends with different people.  And I would like to share my experience with people like me.  So that's all. If you want to talk to me about technology stuff. Please email me . My email address is  Ecstorm (AT ) Gmail.com. Thanks.
</p>
			</article>
			</div>
		</div>
	</div>
</div>